.main {
  width: 640px;
  height: 640px;
  margin: 0 auto;
  margin-top: 20px;
  border: 10px solid black;
  font-size: 70px;
  line-height: 80px;
  transform: perspective( 600px ) rotateX( 70deg );
}

div {
    display: flex;
    flex-wrap: wrap;
}
div .black {
  height: 78px;
  width: 78px;
  border: 1px solid black;
  background-color: darkgrey;
}

div .white {
  height: 78px;
  width: 78px;
  border: 1px solid black;
  background-color: white;
}